/*estilos cabecera*/
.cabecera{
    background-color:#8c1919;
}
.cabecera1{
    width:100%;
    background-color:#fdb400;
    color:#252525;
    border-bottom:2px solid #252525;
    text-decoration:none;
}
body{
    background: #EEEEEE;
}
.cabecera h2{
    color:#fff;
}


.text-center ,p{
    font-size:1.7em;
}
section h2{

    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:75%;
    margin: auto;
    height: 100px;
    width: 40%;
}

.table{

    border-width: 2px;
    border-style: solid;
    border-color:#000;
    color:black;   
}
*,label{
    font-family: sans-serif;
}


/*estilos navbar*/
nav {    
    display: block;
    text-align: center;
}
nav ul {
    margin: 0;
    padding:0;
    list-style: none;
}
.nav a {
    display:block; 
    background: #2a766d; 
    text-decoration: none;
    padding: .8em 1.8em;
    text-transform: uppercase;
    font-size: 80%;letter-spacing: 2px;
    text-shadow: 0 -1px 0 #000;
    position: relative;
    color:white;
}
.nav{  
    vertical-align: top; 
    display: inline-block;
    box-shadow: 1px -1px -1px 1px #2a766d, -1px 1px -1px 1px #fff, 0 0 6px 3px #ffff;
    border-radius:6px;
}
.nav li{position: relative;}
.nav > li { 
    float:left; 
    border-bottom: 4px #aaa solid; 
    margin-right: 1px; 
} 
.nav > li > a { 
    margin-bottom:1px;
    box-shadow:inset 0 2em .33em -.5em #2a766d; 
}
.nav > li:hover , .nav > li:hover >a{  border-bottom-color:orange;}
.nav li:hover > a { color:orange; }
.nav > li:first-child  { border-radius: 4px 0 0 4px;} 
.nav > li:first-child>a{border-radius: 4px 0 0 0;}
.nav > li:last-child  { 
    border-radius: 0 0 4px 0; 
    margin-right: 0;
} 
.nav > li:last-child >a{border-radius: 0 4px 0 0; }
.nav li li a { margin-top:1px}



.nav li a:first-child:nth-last-child(2):before { 
    content:""; 
    position: absolute; 
    height:0; 
    width: 0; 
    border: 5px solid transparent; 
    top: 50% ;
    right:5px;  
}

/* submenu positioning*/
.nav ul {
    position: absolute;
    white-space: nowrap;
    border-bottom: 5px solid  orange;
    z-index: 1;
    left: -99999em;
}
.nav > li:hover > ul {
    left: auto;
    padding-top: 5px  ;
    min-width: 100%;
}
.nav > li li ul {  border-left:1px solid #fff;}


.nav > li li:hover > ul { 
    /* margin-left: 1px */
    left: 100%;
    top: -1px;
}
/* arrow hover styling */
.nav > li > a:first-child:nth-last-child(2):before { 
    border-top-color: #aaa; 
}
.nav > li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent; 
    border-bottom-color: orange; 
    margin-top:-5px
}
.nav li li > a:first-child:nth-last-child(2):before {  
    border-left-color: #aaa; 
    margin-top: -5px
}
.nav li li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent; 
    border-right-color: orange;
    right: 10px; 
}


/*container ingresar persona*/
#container-registro{
    position: absolute;
    top:20%;
    left:24%;
    right:0;
    bottom:0;
    margin: 25px auto;
    width: 90%;
    z-index:1;

}
#informacion_proyecto{

    position: relative; 
    z-index: 0;
    top:16%;
    left:4%;
    text-align: justify;
    
}

#informacion_proyecto p{
    text-align: justify;
}

#container-elementosR{
    margin: auto;
}
#container-registro ,p{
    text-align:left;  
}

#btn-aceptarR{
    background-color:#9a0a18;
    border-radius:3px;
    border-color: #9a0a18;
}

#btn-aceptarR :hover{
    background-color: #fdb400; 
    color:#252525;
}




/*Notificacion*/
.Notificacion{

    max-width:70%;
    width:100%;
    border-radius:5px;
    border-color:#fff;
    position:absolute;
    top:30%;
    align-content:center;

}

/*Color de fondo de Informacion_proyectos.php*/
.color_cabecera {background:#EEEEEE;}

/*Posicion Consultar_Cantidad_Proyectos.php*/
#consultar_cantidadp{

    position:absolute; 
    z-index: 0;
    top:15%;
    bottom:20%;
    text-align: justify;

}

/*Nuevo NEIL*/
*{
    font-size: 19px;
}

label,p{
    font-size: 19px;  
}
.logo{
    font-size: 1em;    
}
.text-center ,p{
    font-size:1.7em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] { -moz-appearance:textfield; }


.centrado{
    margin: 0 auto;
    left: 0;
    right: 0;
}

#custom-button {
    padding: 7px;
    color: #4F4E4D;
    background-color:#C4C3C0;
    border: 1px solid #DCD9D2;
    border-radius: 5px;
    cursor: pointer;
}

#custom-button:hover {
    background-color: #D3D3D3;
}

#custom-text{
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
}


#custom-buttond{
    padding: 7px;
    color: #4F4E4D;
    background-color: #C4C3C0;
    border: 1px solid #DCD9D2;
    border-radius: 5px;
    cursor: pointer;
}

#custom-buttond :hover {
    background-color: #D3D3D3;
}

#custom-textd{
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
}

.custom-control-input  ~ .custom-control-label::after {
    border-color: #fdb400;
    background-color: #9a0a18;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #fdb400;
    background-color: #9a0a18;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #000;
    border-color: #575757;
}

body{
    background-color: #EEEEEE !important;
    background: #EEEEEE !important;
}



