@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins&display=swap');
/*Container principal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 1050px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    margin: 0 auto;
    margin-top: 10px;
}
.container .card{
    margin: 20px;
    position: relative;
    width: 1050px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0,0,0.1);
    overflow: hidden;
    border-radius:3px;
}
.container .card:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: calc(-100% + 4px);
    width: 100%;
    height: 100%;
    background: #000;
    /*z-index: 1;*/
    transition: 0.5s ease-in-out;
}
.container .card:hover:before{
    bottom: 0;
}
.container .card:nth-child(1):before{
    background: #DCDBD6;
}
.container .card:nth-child(2):before{
    background: #E4E3D7;
}
.container .card:nth-child(3):before{
    background: #DCDBD6;
}
.container .card div{
    position: relative;
    /*z-index: 2;*/
}
.container .card div h2{
    margin-bottom: 10px;
    font-size: 30px;
    transition: 0.5s;
    color: #777;
}
.container .card div p{
    font-size: 18px;
    transition: 0.5s;
    color: #777;
}
.container .card div a{
    margin-top:  20px;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    transition: 0.5s;
    background: #fff;
    color: #777;
    padding: 6px 10px;
    font-weight: 700;
    box-shadow: 0 2px 20px rgba(0,0,0, .05);

}
.container .card:hover div h2,
.container .card:hover div p{
    color: #000;
}
/*Container aval*/
.container-aval{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    margin: auto;
    margin-top: 35px;

}
.container-aval .card{
    margin: 20px;
    position: relative;
    width: 650px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0,0,0.1);
    overflow: hidden;
    border-radius:3px;
}
.container-aval .card:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: calc(-100% + 4px);
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    transition: 0.5s ease-in-out;
}
.container-aval .card:hover:before{
    bottom: 0;
}
.container-aval .card:nth-child(1):before{
    background: #DCDBD6;
}
.container-aval .card div{
    position: relative;
    z-index: 2;
}
.container-aval .card div h2{
    margin-bottom: 10px;
    font-size: 30px;
    transition: 0.5s;
    color: #777;
}
.container-aval .card div p{
    font-size: 18px;
    transition: 0.5s;
    color: #777;
}

.container-aval .card:hover div h2,
.container-aval .card:hover div p{
    color: #000;
}
/*Formulario aval*/
form{
    width: 100%;
}
label{
    display: block;
    width:100%;
}
input, textarea, .selector{
    margin-bottom:20px;
    width: 100%;
    padding: 8px ;
    box-sizing:border-box;
    border-radius:3px;
    font-size:18px;
}
textarea{
    resize:vertical;
    max-height:345px;
    min-height:100px;
}
input:focus, textarea:focus , .selector:focus, .boton:focus{
    border: 1px solid #8c1919;   
}
.boton{
    margin-bottom: 0;
    width: 50%;
    padding: 8px ;
    box-sizing:border-box;
    background:#8c1919;
    color: #fff;
    border: none;
    border-radius:3px;
    font-size:18px;
}
.boton:hover{
    background:#C82828;
    cursor:pointer;
}
/*Mobile*/
@media(max-width:1070px){
    .container{
        width: 1000px;
        position:relative;
        margin: 0 auto;
    }
    .container .card{
        width: 900px;
    }
}
@media(max-width:977px){
    .container{
        width: 900px;
        position:relative;
        margin: 0 auto;
    }
    .container .card{
        width: 740px;
    }
}
@media(max-width:870px){
    .container{
        width: 800px;
        position:relative;
        margin: 0 auto;
    }
    .container .card{
        width: 710px;
    }
    .container-aval .card{
         width: 600px;
    }
}
@media(max-width:770px){
    .container{
        width: 150px;
        position:relative;
        margin: auto;
    }
    .container .card{
        margin: 20px;
        position: relative;
        width: 600px;
        padding: 40px;
    }
}

@media(max-width:644px){
    .container{
        width: 150px;
        position:relative;
        margin: auto;
    }
    .container .card, .container-aval .card{
        margin: 10px;
        position: relative;
        width: 500px;
        padding: 30px;
    }
}

@media(max-width:528px){
    .container{
        width: 150px;
        position:relative;
        margin: auto;
    }
    .container .card, .container-aval .card{
        margin: 10px;
        position: relative;
        width: 400px;
        padding: 30px;
    }
}
@media(max-width:429px){
    .container{
        width: 150px;
        position:relative;
        margin: auto;
    }
    .container .card, .container-aval .card{
        margin: 10px;
        position: relative;
        width: 295px;
        padding: 30px;
    }
}




